@import "tailwindcss";

@theme {
  --color-lica-primary: #326e51;
  --color-lica-secondary: #0a62f4;
  --color-lica-red: #d0021b;
  --color-lica-bg: #f3f4f6;
  --color-lica-yellow: #fdd835;
}

body {
  background-color: var(--color-lica-bg);
  color: #333;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container-custom {
  @apply max-w-[1240px] mx-auto px-2 md:px-4;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
